@{
    ViewData["Title"] = "About us";
}
<style>
    body{
        color:white;
    }
    .card{
        background-color: #ff6200;
    }
    img{
        background-image: url(https://www.noina-arka.hr/wp-content/uploads/2010/07/Dumovec.jpg)
    }
</style>

<div class="card">
    <div class="card-header">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <h2>PINO Croatian association of animal protectors</h2>
        <p>
            Pino is a non-profit, non-governmental and non-partisan association officially registered on July 14, 1993., registered in the Register of Associations of the Republic of Croatia under number 00001275. The main activity of the Association is helping abandoned animals, and helping and supporting people who care for a large number of animals.
        </p>
        <ul>
            <li>
                <strong>Account for donations (general operations of the Association)</strong>: IBAN: HR9823600001101542052
            </li>
            <li>
                <strong> Account for the extension of the shelter</strong>: IBAN: HR3223600001500142333
            </li>
            <li>
                <strong>Foreign currency account</strong>: IBAN: HR6423600001500244189 <strong>SWIFT</strong>: ZABAHR2X
            </li>
        </ul>
    </div>
    <img class="card-img-bottom" src="https://www.noina-arka.hr/wp-content/uploads/2010/07/Dumovec.jpg" alt="Card image cap">
</div>

