
@{
    ViewData["Title"] = "Contact";
}
<style>
    .card{
        width:35rem;
        color:white;
        background-color: #ff6200;
        margin-top:50px;
    }
</style>

<div class="card mx-auto">
    <div class="card-header">
        <h2>Contact</h2>
    </div>
    <div class="card-body">
        <h3><strong>Pino</strong></h3>
        <span>Croatian association of animal protectors</span>
        <p>mobile: +385 (0)99 325 0778<br />mobile: +385 (0)99 255 0193<br />mobile: +385 (0)99 642 4350</p>
        <br />
        <p><strong>Working hours:</strong><br /> MON-FRI 08:00-19:00h <br />SAT-SUN 08:00-16:00h<br /><br /> <strong>Visiting hours:</strong><br />MON-FRI 10:00-19:00h<br />SAT-SUN 10:00-16:00h</p>
    </div>
    <div class="card-footer">
        <h2><strong>E-mail:</strong></h2>
        <span>Bruno Katić - PRESIDENT OF THE ASSOCIATION</span>
        <p>brkapino@gmail.hr</p>
    </div>
</div>

